li.product-category {
    display: inline-block;
    width: 33%;
    padding: 12px;
}
.search-output {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: #fff;
    padding: 15px 30px;
}